.radialBlurImageEdit {
  @apply w-full h-full;

  canvas {
    @apply select-none;
    cursor: grab;
  }

  img {
    @apply absolute z-10 select-none;
    touch-action: none;
  }

  &__tip {
    @apply absolute text-white py-1 px-2 text-xs;
    @apply rounded-md opacity-80;
    background-color: #999999;
    &.tip1 {
      @apply left-10 bottom-10;
    }
    &.tip2 {
      @apply left-10;
      bottom: 4.375rem;
    }
    &.tip3 {
      @apply left-10;
      bottom: 6.25rem;
    }
  }
  &__changeFlterLevel {
    @apply absolute text-white py-1 px-2 text-base;
    @apply rounded-md opacity-80 top-20 left-10;
    background-color: #999999;
  }
}
